<nav>
  <ul cdkMenu>
    @for (item of items(); track item.label) {
      <li>
        @if (item.action; as action) {
          <button
            class="min-menu-item"
            (click)="action()"
            (selected)="currentItem.set(item)"
            (deselected)="currentItem.set(null)"
            minItemSelected
            cdkMenuItem>
            {{ item.label + '.label' | translate }}
          </button>
        }
        @if (item.path; as path) {
          <a
            class="min-menu-item"
            [routerLink]="path"
            (selected)="currentItem.set(item)"
            (deselected)="currentItem.set(null)"
            minItemSelected
            cdkMenuItem>
            {{ item.label + '.label' | translate }}
          </a>
        }
      </li>
    }
  </ul>
</nav>
