@use "tailwindcss"
@use "app/styles/base"
@use "app/styles/components"

:root
  font-size: 46px

*
  box-sizing: border-box

body
  @apply bg-stone-900 text-stone-100
  font-family: Arial, Helvetica, sans-serif
