@use "tailwindcss"
@use "app/styles/themes"
@use "app/styles/base"
@use "app/styles/components"

:root
  font-size: 46px

  @media screen and (max-width: 768px)
    font-size: 22px

@theme
  --color-primary: var(--min-primary-color)
  --color-primary-faded: var(--min-primary-color-faded)
  --color-placeholder: var(--min-placeholder-color)
  --color-background: var(--min-background-color)

*
  box-sizing: border-box

body
  @apply bg-background text-primary selection:bg-primary selection:text-background
  font-family: Arial, Helvetica, sans-serif

::-webkit-scrollbar 
  width: 20px

::-webkit-scrollbar-track
  @apply bg-background border-1

::-webkit-scrollbar-thumb
  @apply bg-primary

::-webkit-scrollbar-thumb:hover 
  @apply bg-primary-faded
