name: Deploy preview

on:
  workflow_call:
    inputs:
      firebaseServiceAccount:
        required: true
        type: string

permissions:
  contents: read
  id-token: write
  checks: write
  pull-requests: write

jobs:
  deploy:
    name: Deploy to Firebase Preview Channel
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npm ci && npm run build
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ inputs.firebaseServiceAccount }}
          projectId: minimal-e0cfc
          channelId: pr-${{ github.event.pull_request.number }}
          expires: 7d
